<%inherit file="base_view.html"/>
<%! index="Presence by weekday" %>
<%block name="head">
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"], 'language': 'en'});
    </script>
    <script>
        (function($) {
            $(document).ready(function(){
                var loading = $('#loading');
                var users = {};
                $.getJSON("/api/v1/users", function(result) {
                    var dropdown = $("#user_id");
                    $.each(result, function(item) {
                        dropdown.append($("<option />").val(this.user_id).text(this.name));
                        users[this.user_id] = this;
                    });
                    dropdown.show();
                    loading.hide();
                });
                $('#user_id').change(function(){
                    var selected_user = $("#user_id").val();
                    var chart_div = $('#chart_div');
                    var avatar = $('#avatar');
                    if(selected_user) {
                        loading.show();
                        chart_div.hide();
                        avatar.hide();
                        $.getJSON("/api/v1/presence_weekday/"+selected_user, function(result) {
                            $('#avatar').attr('src', users[selected_user].avatar);
                            var data = google.visualization.arrayToDataTable(result);
                            var options = {};
                            chart_div.show();
                            loading.hide();
                            avatar.show();
                            var chart = new google.visualization.PieChart(chart_div[0]);
                            chart.draw(data, options);
                        });

                    }
                });
            });
        })(jQuery);
    </script>
</%block>
<%block name="header_title">
    Presence by weekday
</%block>